<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.newshub.dao.HistoryMapper" >
  <resultMap id="BaseResultMap" type="com.newshub.pojo.History" >
    <constructor >
      <idArg column="historyID" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="userID" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="newsID" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="viewedTimes" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="update_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    historyID, userID, newsID, viewedTimes, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from history
    where historyID = #{historyid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from history
    where historyID = #{historyid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.newshub.pojo.History" >
    insert into history (historyID, userID, newsID, 
      viewedTimes, create_time, update_time
      )
    values (#{historyid,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, #{newsid,jdbcType=INTEGER}, 
      #{viewedtimes,jdbcType=INTEGER}, now(), now()
      )
  </insert>
  <insert id="insertSelective" parameterType="com.newshub.pojo.History" >
    insert into history
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="historyid != null" >
        historyID,
      </if>
      <if test="userid != null" >
        userID,
      </if>
      <if test="newsid != null" >
        newsID,
      </if>
      <if test="viewedtimes != null" >
        viewedTimes,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="historyid != null" >
        #{historyid,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="newsid != null" >
        #{newsid,jdbcType=INTEGER},
      </if>
      <if test="viewedtimes != null" >
        #{viewedtimes,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        now(),
      </if>
      <if test="updateTime != null" >
        now(),
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.newshub.pojo.History" >
    update history
    <set >
      <if test="userid != null" >
        userID = #{userid,jdbcType=INTEGER},
      </if>
      <if test="newsid != null" >
        newsID = #{newsid,jdbcType=INTEGER},
      </if>
      <if test="viewedtimes != null" >
        viewedTimes = #{viewedtimes,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = now(),
      </if>
    </set>
    where historyID = #{historyid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.newshub.pojo.History" >
    update history
    set userID = #{userid,jdbcType=INTEGER},
      newsID = #{newsid,jdbcType=INTEGER},
      viewedTimes = #{viewedtimes,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = now()
    where historyID = #{historyid,jdbcType=INTEGER}
  </update>
</mapper>